*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(pic/code.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}.logo{
    color: white;
    letter-spacing: 2px;
    font-size: 45px;
    cursor: pointer;
}
span{
    color: crimson;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}
nav ul li:hover{
    color: crimson;
    transition: .4s;
}
.btn{
    background-color: crimson;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    border: 2px solid transparent;
    font-weight: bolder;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
}h4{
    letter-spacing: 3px;
    color: coral;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 15px 130px 14px 15px;
    border: 2px solid crimson;
    border-radius: 30px;
    outline: none;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: crimson;
    color: white;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #101010;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    margin-bottom: 20px;
    font-size: 75px;
    text-transform: capitalize;
    font-weight: bold;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.about-text h5{
    color: white;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
}
.about-text p{
    color: green;
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 45px;
}
button{
    color: white;
    background-color: crimson;
    padding: 13px 30px;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: .4s;
    text-decoration: wavy;
}
button:hover{
    background-color: transparent;
    border:2px solid crimson;
    transform: translate(1.0);
    cursor: pointer;
}
.service{
    background: #101010;
    padding: 100px 0px;
    width: 100%;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    text-align: center;
    margin: 30px auto;
}
.box{
    display: flex;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: crimson;
}
h5{
    color:white;
    font-size: 23px;
    margin-top: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    color: white;
    background-color: crimson;
    padding: 9px 20px;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: .4s;
    text-decoration: none;
}
.card .button:hover{
   background-color: grey;
}
.contact-me{
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-2{
    color: white;
    background-color: crimson;
    padding: 9px 20px;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: .4s;
    text-decoration: none;
}
.contact-me .button-2:hover{
    background-color: gray;
    transform: scale(1.3);
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width:500px;
    text-align: center;
    line-height: 26px;
}
.social{
display: flex;
}
.social a{
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background: crimson;
border-radius: 50%;
margin: 18px 10px;
color: white;
text-decoration: none;
font-size: 20px;
}
.social a:hover{
transform: scale(1.3);
transform: 3s;
}
